<suite name="Suite">
	<listeners>
		<listener class-name="listeners.RetryListener" />


	</listeners>
	<test thread-count="5" name="Test">
		<classes>
		<class name="testClasses.LoginpageTestClass" />
<!--		<class name="testClasses.ExpensePageTestClass" /> 
			
			<class name="testClasses.UserManagementTestClass" />
			<class name="testClasses.HomePageTestClass" />
			<class name="testClasses.CustomerPageTestClass" />-->
		</classes>
	</test> 
</suite> <!--
Suite -->
